/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/
/*The star symbol will target every single element on the page. */

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/
/*You are targeting all of the anchor tags <a> that are within li*/

li a {
	color: red;
}

/*Adjacent Selector*/
/* It will select only the element that is immediately preceded by the former element.*/
/*WIll affect all of the ul after each h4*/
h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector*/
/*Will affect all anchor tags which point to http://www.google.com*/
a[href="http://www.google.com"] {
	background: blue;
}

/*nth of type*/
/*Every off element is affected*/
li:nth-of-type(odd){
	background: purple;
}




